# Python simple data types

## Objective
* learn basic data types (Strings, Numbers and Booleans)
* learn how to work with data in your programs

## String

* String is one of the basic data types used in Python code (you already manipulated it while printing data!)
* Strings are a combinatination of any characters within <u>single quotes</u> ('') or <u>double quotes</u> ("")
* They are used to store text
* These are example of strings:
```
'Hello world! This is my first python code!'
"Hello Market! Stocks will be up. Buy!"
"_#Argh# There are '10 callable bonds' in the  3rd portfolio..."
```

In [21]:
'Hello world! This is my first python code!'
"Hello Market! Stocks will be up. Buy!"
"_#Argh# There are '10 callable bonds' in the  3rd portfolio..."
print()

### Operations on Strings
* **assigning to variable**
    - `last_visited_country = 'Spain'`
* **concatenating strings**
    - `'I visited ' + last_visited_country + ' last summer' # we mixed literal and variable to get another string`
* **changing case**
    - `'I visited Spain last summer'.lower() // transform the string to lowercase`
    - `'I visited Spain last summer'.upper() // transform the string to uppercase`
    - `'I visited Spain last summer'.title() // transform the first character of each word to uppercase`
- **using special characters**
        * newline (\n)
        * tabs (\t)

In [12]:
#assign
last_visited_country = 'Spain'

# concatenate
'I visited ' + last_visited_country + ' last summer' # we mixed literal and variable to get another string

# change case
print('lower case:', 'I visited Spain last summer'.lower()) # transform the string to lowercase
print('upper case:', 'I visited Spain last summer'.upper()) # transform the string to uppercase
print('title:', 'I visited Spain last summer'.title()) # transform the first character of each word to uppercase

# special characters
print('I visited:\n\tSpain\n\tGreece\n\tFrance.')

lower case: i visited spain last summer
upper case: I VISITED SPAIN LAST SUMMER
title: I Visited Spain Last Summer
I visited:
	Spain
	Greece
	France.

In [24]:
print("this is a \"bike\"!")
print('this is a "bike"!')

this is a "bike"!
this is a "bike"!

### Do it yourself (DIY)
* Create two variables to store a company’s name and company’s location.
* Print a message like Market info: “BNP is located in Paris (FR).”
* Print the above message in lowercase, uppercase and titlecase.
* Print the message with the location’s name within double quotes.
* Print the message in two lines and the second line starting with tab such as:
```
Market info:
		BNP is located in Paris (FR).
```

## Numbers

### Python supports 3 types of number data types
* **integers** (**int**): combination of digits. Can be positive or negative
    - `x = 174;  y = -258; w = +85`
* **floating-point** numbers (**float**): combination of digits separated by point (**.**). Positive of negative
    - `x = 174.32;  y = -0.258; w = +9.85`
* **complex** numbers (**complex**): `x + yj` where `x` (_real_) and `y` (_imaginary_) are integers or floats
    - `z = 956.25 + 6.5j`

In [19]:
x = 174;  y = -258; w = +85
x = 174.32;  y = -0.258; w = +9.85
z = 956.25 + 6.5j

print()

![number data types](images/img1.png)

## Booleans

**In Python, the boolean data type is either True or False**
```
is_closed = True;
is_raining = False
print(is_closed)
```

**Resulting from comparaison or logical operations**
```
result = (is_closed == False);
print(result);
```
`(is_closed == True)` is equivalent to `is_closed`
`(x == False)` is equivalent to `not x`

**Integers and Floats as Booleans**
* values not equal to 0 (_zero_) are considered as `True`
```
print(bool(-8) == True)
print(bool(2.1) == False)
```
* otherwise they are False
```
print(0 == False)
print(0 == True)
```

In [20]:
print(bool(-8) == True)
print(bool(2.1) == False)

True
False

## Operators

### Arithmetic operations on numbers

![artithmetic operations on numbers](./images/img2.png)

### Comparing values
The result is a boolean (`True` or `False`).
```
print(3.5 < 9.41)
print('age' == 'AGE')
```
![](./images/img4.png)

### Logical operations
```
(x == 3) and (y < 2)
not (mystr == ‘’)
(z == True) or (r > 8)
```
![](./images/img4.png)

**In Python, any value has a built-in or user defined type**
* data value in Python is an object meaning instance of class (_see later_)

![](./images/img5.png)

## Types Operations

### Getting the Python type of a specific value

Retrieve the type of a value using the function `type()`
```
print(type(10.5))
z = 7 + 3j; print(type(z))
print(type(‘The process is documented.’))
```

### Try some examples and share them with the class
what is the type of the function `print()`?


### Checking if variable or value has a particular type
We use the built-in function `isinstance()` to check the value type.  

Some examples

`isinstance('it is hot today', str)` might return `True`  
`x = 3.5; isinstance(x, int)` might return `False`  
`x = 3.5; isinstance(x, float)` might return `True`  
`x = 3; isinstance(x, float)` might return `True`

### Converting data type from one type to another one
**Python has two types of Type Conversion**
- **implicit type conversion**: you don’t need to do anything, Python does the job
- **explicit type conversion**: you ask Python to change the data type  

**Implicit type conversion**
- when adding numbers
    * int + float ⇒ float 
    * int + complex ⇒ complex
    * float + complex ⇒ complex
- try now to add a number and a string. What do you get?
```
a = “the last record is ” + 23.8
print(a)
```

### Converting data type from one type to another one
**Explicit type conversion**
- we use built-in set of functions to convert data from one type to another one
    * int(): convert data to int (integer)
    * float(): convert data to float
    * str(): convert data to str (string)
    * complex(): convert data to complex
- try now to add a number and a string
`a = "the last record is " + str(23.8); print(a)`

**DIY**  
Try some examples:
```
bool('True’)
int('0.58’)
float("3.14")
complex("9j")
complex('.75 + 3j')
float('1/4')
```